.input-label {
  @apply font-semibold;
  @apply text-gray-100;
}

.input {
  @apply rounded p-2 bg-gray-700 text-gray-100;

  &:focus {
    outline: none;
  }
}

.input-container {
  @apply my-1;

  width: 100%;
  display: flex;
  flex-direction: column;
}
