.modal {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  @apply bg-gray-800 bg-opacity-40;

  z-index: 60;
}

.modal-content {
  @apply bg-gray-800 p-5 mx-3;

  width: 100%;
  max-width: 600px;
  max-height: 95vh;

  overflow-y: scroll;

  @apply rounded-xl;

  display: flex;
  flex-direction: column;
  @apply gap-2;
}
